.collection-item__name.btn-white {
  --btn-padding-x: 2rem;
  /* width: 20rem; */
  max-width: 100%;
}

.collection-item__media.morden:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0.4) 100%);
  opacity: 0.75;
  pointer-events: none;
  z-index: 2;
  border-radius: var(--rounded-radius, 0);
}

.collection-item__information.absolute .collection-item__name-inner {
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.collection-item__count.absolute {
  right: -16px;
}

/* @media (min-width: 768px) {
  .custom_grid_row .collection-item.grid-custom-item:nth-last-child(1) {
    grid-column: 4;
  }

  .custom_grid_row .collection-item.grid-custom-item:nth-last-child(2) {
    grid-column: 3;
  }

  .custom_grid_row .collection-item.grid-custom-item:nth-last-child(3) {
    grid-column: 2;
  }
} */
.grid_row_3 .collection-item__wrapper {
    max-width: 300px;
    width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {}

@media (max-width: 575.98px) {
  [data-mobile="3"] .collection-item__information.absolute .collection-item__name {
    --btn-padding-x: 1.5rem;
  }

  [data-mobile="3"] .collection-item__information.absolute .collection-item__name-inner {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
}